# Node modules
node_modules

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
chatmist
dist

# Electron-builder output
*.dmg
*.exe
*.deb
*.AppImage
*.snap

# macOS files
.DS_Store

# VS Code settings
.vscode

# Database file
db/chatmist.db
