body {
  background-color: #15232d;
  color: rgba(255, 255, 255, 0.90);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sider {
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
}

.content {
  height: 100vh;
}
